@charset "UTF-8";
/*
    それぞれのページに適用するスタイル
*/
/*--------------------
    top
--------------------*/
.top {
  font-family: 'Georgia'; }

/*オープニングアニメーション*/
.anime,
.op_bg {
  width: 100vw;
  height: 100vh;
  background: #fcfcfc;
  animation: op_bgAnime 1s linear 1.8s forwards;
  margin: 0;
  padding: 0; }

.op_text {
  text-align: center;
  font-size: 7vw;
  font-family: 'Georgia';
  color: #000;
  height: 1em;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 7; }

.op_text:after {
  content: "";
  width: 40vw;
  height: 1.2em;
  background: #fcfcfc;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  animation: op_textAnime1 1.3s linear forwards; }

/*keyframe*/
@keyframes op_textAnime1 {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
@keyframes op_bgAnime {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    display: none; } }
/* anime-end */
@media screen and (min-width: 834px) {
  .top .box_image_outer {
    width: 90vw;
    max-width: calc(500px * 1.6);
    height: calc(90vw * 0.625);
    /*        max-height: calc(1000px * 0.625);*/
    max-height: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #f3f3f3, #1f1f1f);
    position: relative; }

  .top .box_image_outer .box_image_inner {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    position: relative; }

  .top .box_image_outer .box_image_inner .text_name {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 55%;
    font-size: 2.2rem; }

  .top .box_image_outer .box_image_inner .text_title {
    position: absolute;
    color: #ffffff;
    top: 60%;
    left: 55%;
    font-size: 1rem;
    line-height: 1.6; }

  .top .box_image_outer .box_image_inner .text_tel {
    position: absolute;
    color: #ffffff;
    top: 75%;
    left: 55%;
    font-size: 1.1rem; }

  .top .box_image_outer .box_image_inner .text_address {
    position: absolute;
    color: #ffffff;
    top: 80%;
    left: 55%;
    font-size: 1.1rem; } }
@media screen and (max-width: 767px) {
  .top .box_image_outer {
    width: 80vw;
    height: calc(80vw * 1.6);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #f3f3f3, #1f1f1f);
    position: relative; }

  .top .box_image_outer .box_image_inner {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    position: relative; }

  .top .box_image_outer .box_image_inner .text_name {
    position: absolute;
    color: #ffffff;
    width: 80%;
    text-align: center;
    font-size: 1.4rem;
    top: 65%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%); }

  .top .box_image_outer .box_image_inner .text_title {
    position: absolute;
    color: #ffffff;
    width: 80%;
    text-align: center;
    line-height: 1.4;
    top: 75%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    font-size: 0.7rem; }

  .top .box_image_outer .box_image_inner .text_tel {
    position: absolute;
    color: #ffffff;
    width: 80%;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    font-size: 0.8rem; }

  .top .box_image_outer .box_image_inner .text_address {
    position: absolute;
    color: #ffffff;
    width: 80%;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    font-size: 0.8rem; } }
/*--------------------
    about
--------------------*/
.about_text {
  max-width: 70%;
  height: 300px;
  text-align: left;
  font-size: 0.85rem;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.3; }
  @media screen and (max-width: 834px) {
    .about_text {
      max-width: 90%;
      height: 450px; } }

.about_myimg {
  display: block;
  float: left;
  max-width: 150px;
  width: 30vw;
  height: auto; }

.about_address {
  display: block;
  float: left;
  font-size: 10pt;
  max-width: 60%;
  height: auto;
  padding: 20pt;
  text-align: left; }

@media screen and (max-width: 834px) {
  .about_text {
    max-width: 90%; } }
/*--------------------
    skill
--------------------*/
.skill_flexcontainer {
  display: flex;
  flex-wrap: wrap; }

.skill_flexitem {
  width: 49%;
  margin-bottom: 30px;
  text-align: left;
  display: block; }

.skill_table span {
  font-weight: bold;
  background-color: #dfdfdf;
  padding: 0px 10px 0px 10px;
  border-radius: 5px; }

.skill_table tr th {
  border-radius: 5px;
  border: 5px solid var(--background-base-color);
  margin-bottom: 20px; }

.skill_table tr td {
  border: 5px solid var(--background-base-color);
  padding-top: 5px; }

.skill_chart_box {
  display: flex;
  width: 100%; }
  .skill_chart_box .skill_bar_chart {
    width: 48%;
    height: 30vh;
    margin-bottom: 10vh; }
  .skill_chart_box .skill_bar_chart2 {
    width: 48%;
    height: 30vh;
    margin-bottom: 5vh; }

@media screen and (max-width: 834px) {
  .skill_flexitem {
    width: 100%; }

  .skill_chart_box {
    display: block; }
    .skill_chart_box .skill_bar_chart {
      width: 100%;
      height: 40vh; }
    .skill_chart_box .skill_bar_chart2 {
      width: 100%;
      height: 40vh; } }
/*--------------------
    work
--------------------*/
.work_flexcontainer {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch; }

.work_flexitem {
  width: 33%;
  padding: 10px;
  display: block; }

.work_flexitem img {
  width: 100%;
  height: 100%;
  border: 2px solid #aaa; }

.lb-caption p {
  font-size: 0.9rem;
  line-height: 1.3; }
  .lb-caption p span {
    font-weight: bold; }

figcaption p {
  font-size: 0.9rem;
  line-height: 1.3; }
  figcaption p span {
    font-weight: bold; }

.work article h2 span {
  background-color: #bababa;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius: 10px; }

@media screen and (max-width: 834px) {
  .work_flexitem {
    width: 80%;
    margin-left: auto;
    margin-right: auto; } }
/*--------------------
    photo
--------------------*/
#photo {
  width: 100vw;
  height: auto; }
  #photo header, #photo footer {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
  #photo .photo {
    padding-top: 20px; }

/*--------------------
    hobby
--------------------*/
/*
    hobyはシングルカラムのスクロールページにする。
    ヘッダー、フッターは他のページに合わせる。
*/
#hobby {
  width: 100vw;
  height: auto;
  /* .hobby-end */ }
  @media screen and (max-width: 834px) {
    #hobby {
      font-size: 10px; } }
  #hobby header {
    font-size: 16px; }
  #hobby header, #hobby main, #hobby footer {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
  #hobby .hobby {
    font-weight: 600; }
    #hobby .hobby h1 {
      padding-left: 2em;
      font-size: 2em;
      margin-bottom: 30px; }
    #hobby .hobby h2 {
      background-color: #FF000F;
      color: #ffffff;
      font-size: 3em;
      font-weight: lighter;
      padding: 0.5rem;
      margin-top: 30px;
      margin-bottom: 30px; }
    #hobby .hobby h3 {
      font-size: 3em;
      font-weight: lighter;
      text-align: center; }
      #hobby .hobby h3 span {
        color: #000;
        padding: 20px;
        background-color: #F0F000;
        border-radius: 50%; }
    @media screen and (max-width: 834px) {
      #hobby .hobby h3 {
        font-size: 1.5rem; } }
    #hobby .hobby .hobby_area1,
    #hobby .hobby .hobby_area2,
    #hobby .hobby .hobby_area3,
    #hobby .hobby .hobby_area4,
    #hobby .hobby .hobby_area5,
    #hobby .hobby .hobby_area6,
    #hobby .hobby .hobby_area7 {
      width: 100%;
      height: auto;
      color: #FFF;
      padding: 0;
      margin: 0;
      /*            overflow: hidden;   // rellaxで重ならないように。
                  padding-top:100px;
                  padding-bottom:100px;*/ }
      #hobby .hobby .hobby_area1 div.container,
      #hobby .hobby .hobby_area2 div.container,
      #hobby .hobby .hobby_area3 div.container,
      #hobby .hobby .hobby_area4 div.container,
      #hobby .hobby .hobby_area5 div.container,
      #hobby .hobby .hobby_area6 div.container,
      #hobby .hobby .hobby_area7 div.container {
        position: relative;
        height: 150vh;
        max-height: 150vh; }
        #hobby .hobby .hobby_area1 div.container p,
        #hobby .hobby .hobby_area2 div.container p,
        #hobby .hobby .hobby_area3 div.container p,
        #hobby .hobby .hobby_area4 div.container p,
        #hobby .hobby .hobby_area5 div.container p,
        #hobby .hobby .hobby_area6 div.container p,
        #hobby .hobby .hobby_area7 div.container p {
          position: absolute;
          z-index: 99;
          font-size: 1.5em;
          font-weight: lighter;
          padding: 1em;
          width: calc(50vh * 1.6);
          max-width: 70%;
          letter-spacing: 0.05em;
          line-height: 1.4;
          text-shadow: #1f1f1f;
          border-radius: 50px; }
    #hobby .hobby .hobby_area1 .container .pc_bk {
      position: absolute;
      width: calc(150vh * 1.6);
      max-width: 80%;
      height: 50vh;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      background-image: url(../images/hobby/pc.jpg);
      background-repeat: no-repeat; }
    #hobby .hobby .hobby_area1 .container p {
      top: 20%;
      background-color: rgba(240, 0, 255, 0.8);
      z-index: 99; }
    #hobby .hobby .hobby_area2 div .denshishoseki_bk {
      z-index: 1;
      position: absolute;
      width: calc(150vh * 1.6);
      height: 50vh;
      max-width: 80%;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      background-image: url(../images/hobby/denshishoseki1.jpg);
      background-repeat: no-repeat; }
    #hobby .hobby .hobby_area2 div p {
      top: 20%;
      background-color: rgba(240, 0, 255, 0.8); }
    #hobby .hobby .hobby_area3 div .monchichi_bk {
      position: absolute;
      height: 50vh;
      width: calc(50vh * 1.6);
      max-width: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%; }
    #hobby .hobby .hobby_area3 div .monchichi_bk:nth-of-type(1) {
      background-image: url(../images/hobby/monchichi1.jpg);
      z-index: 3; }
    #hobby .hobby .hobby_area3 div .monchichi_bk:nth-of-type(2) {
      background-image: url(../images/hobby/monchichi2.jpg);
      right: 0; }
    #hobby .hobby .hobby_area3 div .monchichi_bk:nth-of-type(3) {
      background-image: url(../images/hobby/monchichi3.jpg); }
    #hobby .hobby .hobby_area3 div p {
      position: absolute;
      top: 50px;
      background-color: rgba(240, 0, 255, 0.8); }
    #hobby .hobby .hobby_area4 div .bouldering_bk {
      position: absolute;
      height: 70vh;
      width: calc(100vh * 1.6);
      max-width: 80%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      background-image: url(../images/hobby/bouldering1.jpg); }
    #hobby .hobby .hobby_area4 div p {
      position: absolute;
      top: 30%;
      background-color: rgba(240, 0, 255, 0.8); }
    #hobby .hobby .hobby_area5 div .bike_bk {
      position: absolute;
      height: 50vh;
      width: calc(50vh * 1.6);
      max-width: 90%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      background-image: url(../images/hobby/bike1.jpg); }
    #hobby .hobby .hobby_area5 div p {
      position: absolute;
      top: 30%;
      left: 20%;
      background-color: rgba(240, 0, 255, 0.8); }
    #hobby .hobby .hobby_area6 div .kamera_bk {
      position: absolute;
      height: 50vh;
      width: calc(50vh * 1.6);
      max-width: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      background-position: 50% 50%; }
    #hobby .hobby .hobby_area6 div .kamera_bk:nth-of-type(1) {
      background-image: url(../images/hobby/kamera1.jpg);
      top: -70%;
      z-index: 3; }
    #hobby .hobby .hobby_area6 div .kamera_bk:nth-of-type(2) {
      background-image: url(../images/hobby/kamera2.jpg);
      top: -40%;
      right: 0; }
    #hobby .hobby .hobby_area6 div .kamera_bk:nth-of-type(3) {
      background-image: url(../images/hobby/kamera3.jpg);
      top: -10%; }
    #hobby .hobby .hobby_area6 div p {
      position: absolute;
      top: 50%;
      background-color: rgba(240, 0, 255, 0.8); }
    #hobby .hobby .hobby_area7 div .videogame_bk {
      position: absolute;
      height: 50vh;
      width: calc(50vh * 1.6);
      max-width: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      background-image: url(../images/hobby/videogame1.jpg); }
    #hobby .hobby .hobby_area7 div p {
      position: absolute;
      top: 70%;
      background-color: rgba(240, 0, 255, 0.8); }

/* #hobby-end */
/*
    アニメーション設定
*/
.hobby_fade {
  opacity: 0;
  /*    transform: translateY(20px);*/
  transition-duration: 0.5s;
  transition-timing-function: linear; }

/*
    TOPボタンを画面右下に固定する。
*/
.hobby .hobby_top_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; }

/*
    topに戻るボタン。
*/
.hobby_top_button {
  display: inline-block;
  text-decoration: none;
  background: #5dc3d0;
  color: #528e96;
  width: calc(5vw);
  height: calc(5vw);
  line-height: calc(5vw);
  font-size: 1.5vw;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #549fa9;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s; }

.hobby_top_button:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none; }

@media screen and (max-width: 834px) {
  .hobby_top_button {
    width: calc(7vw);
    height: calc(7vw);
    line-height: calc(7vw); } }
/*--------------------
    contact
--------------------*/
.contact form input[type="text"] {
  width: 80%;
  max-width: 700px;
  height: 1.5rem;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  border: 1px solid #dfdfdf; }

.contact form input[type="email"] {
  width: 80%;
  max-width: 700px;
  height: 1.5rem;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  border: 1px solid #dfdfdf; }

.contact form textarea {
  width: 80%;
  max-width: 700px;
  height: 9rem;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border: 1px solid #dfdfdf; }

.contact form input[type="submit"] {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 10px 20px;
  line-height: 0.8;
  border: 1px solid #dfdfdf; }

/*# sourceMappingURL=style.css.map */
