@charset "utf-8";
:root{
  font-size:16px;
  font-family: 'Noto Sans JP', sans-serif;
}   
/*
  全体をborderまで含める。
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  float解除用
*/
.clearfix::before{
  content:"";
  display:block;
  clear: both;
}

/*
  テキスト位置調整用
  使用時は親要素をposition: relative;にすること。
*/
span.top {
  position: absolute;
  left: 0;
  top: 0;
}
span.bottom {
  position: absolute;
  bottom: 0;
}
span.center {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
}

/*タブ切り替え全体のスタイル*/
/*.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}
*/
/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color:rgba(200,200,200,0.3);
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  border-radius: 1rem 1rem 0 0;
}
.tab_item:hover {
  color: #5ab4bd;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#ir:checked ~ #ir_content,
#stockholder:checked ~ #stockholder_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.news input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

/*------------------------------
  Main
------------------------------*/
body{
  width: 100vw;
  padding:1%;

  /*------------------------
    header
  ------------------------*/
  header{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;

    .logo {
      margin-right: auto;
      font-family: 'Times New Roman', Times, serif;
      font-size:1.4rem;
      font-weight: bold;
      border:none;
      text-decoration: none;
      color: #000;
      line-height: 1.4rem;
      height: 40px;
      float: left;
    }

    .header_menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin:20px 0 20px 0;
            
      *{
        text-align: center;
      }

      .header_menu_item{
        list-style-type: none;
        justify-content: space-between;
        list-style: none;
        padding: 0 0.5rem 0 0.5rem;
      
        a {
          background: var(--background-base-color);
          color: #333;
          display: block;
          padding: 0.6em 0.4em;
          text-align: center;
          text-decoration: none;
        }
        a::hover{
          color:#E06000;
        }
        .btn_contact{
          width: 125px;
          padding:9px 5px;
          background-image: linear-gradient(107deg, #43c8ff, #1e83ff);
          border-radius: 5px;
          font-size: 1rem;
          font-weight: bold;
          color: #fff;
          text-align: center;
          opacity: 1;
          transition: all 0.2s ease 0s;
        }
        .btn_contact::hover{
          background-image: linear-gradient(107deg, #43ffff, #1eaaff);
        }
        @media screen and (max-width: 767px) {
          .btn_contact{
            width: 100%;
          }  
        }
      }
      .header_menu_item:last-child{
        border-right: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    header{
      *{
        color: #000 !important;
        font-size: 1rem !important;
        font-weight: normal !important;
        padding:0 !important;
        margin:0 !important;
        text-decoration: none !important;
        background: none !important;
        background-image:none !important;
        list-style-type: none !important;
        text-align: center !important;
      }
      .header_menu{
        //flex-direction: column !important;
        background-color: rgba( #fff,0.8) !important;
        li{
          border-right: none !important;
          border-left: none !important;
        }
      }
    }
  }

  /*----------------
    Main
  ----------------*/
  main{
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    .top_image{
      background-image: url("../images/light-bulb.jpg");
      background-position: 50% 50%;
      width: 100vw;
      max-width: 100%;
      height: 400px;
      position: relative;
      margin-bottom: 40px;
      z-index: -1;
      p{
        position: absolute;
        color: #F0F0F0;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        text-shadow: #333;
        width: 90%;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
      }
    } 
    .news{
      margin-bottom: 40px;
      > h2{
        font-size: 1.5rem;
        margin-bottom: 30px;
      }

      ul{
        list-style-type: none;

        li{
          border-top:1px dashed #EEE;
          border-bottom:1px dashed #EEE;
          padding: 0.5rem 0 0.5rem 0;

          *{
            display: inline-block;
          }
          h2{
            width: 5rem;
            padding:0.5rem 0 0.5rem 0;
            text-align: center;
            line-height: 1rem;
            margin: 1rem 0 1rem 0;
            &.info{
              color: #fff;
              background-color: #43c8ff;
              border-radius: 1rem;
            }
            &.info_new{
              color: #fff;
              background-color: pink;
              border-radius: 1rem;
            }
          }
        }
      }
    }

    .info_boxes{
      .info_box{
        float: left;
        display: block;
        margin-right: 2%;
        width: 31%;
        margin-bottom: 20px;
        background: #f5f7fa;
        border: 1px solid #ddd;
        border-bottom-width: 2px;
        border-radius: 2px;
        min-height: 250px;

        @media screen and (max-width: 640px) {
          width: 100%;
        }

        h2{
          text-align: center;
          font-size: 1rem;
          padding: 10px 30px 10px 30px;
          position: relative;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          display: block;

          a{
            color: #005bac;
            text-decoration: none;
          }
        }
        ul{
          border-top: 1px solid #ddd;
          font-size: 0.9rem;
          columns: 2;
          column-gap: 10px;
          padding: 20px;
          list-style: none;

          li{
            padding:0.2rem;
          }
        }
      }
    }
  }

  .banner_area{
    margin-bottom:40px;
  }

  footer{
    color:#fff;
    background-color: #005bac;
    
    ul.list_menu{
      width: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      display: table;
      padding:20px;

      *{
        list-style: none;
      }

      li.list_item{
        display: table-cell;
        width: 33%;
        float: left;

        @media screen and (max-width: 640px) {
          width: 100%;
        }

        a{
          padding: 0.5em 0;
          font-size:1.2rem;
          display: block;
          text-align: center;
        }
        ul{
          li{
            padding: 0.5em 0;
          }
        }
      }
      li.list_item:nth-child(3n+1){
        clear: both;
      }
    }

    small{
      width: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding:20px;
      display:block;
      border-top:2px sloid #fff;
      text-align: right;
    }
  }
}