@charset "UTF-8";
:root {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif; }

/*
  全体をborderまで含める。
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
  float解除用
*/
.clearfix::before {
  content: "";
  display: block;
  clear: both; }

/*
  テキスト位置調整用
  使用時は親要素をposition: relative;にすること。
*/
span.top {
  position: absolute;
  left: 0;
  top: 0; }

span.bottom {
  position: absolute;
  bottom: 0; }

span.center {
  position: absolute;
  top: 50%;
  margin-top: -0.5em; }

/*------------------------------
  Main
------------------------------*/
body {
  width: 100vw;
  background-image: url(../images/background-pattern02.jpg);
  /* header-end */
  /*バーガーメニュー用設定*/
  /* media-end */
  /* main-end */
  /* footer-end */ }
body header {
  background-color: #000; }
body header .container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px; }
body header .container .logo {
  height: 50px;
  width: 200px;
  background-image: url(../images/kaku-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 10px 10px;
  float: left; }
body header .container nav {
  z-index: 99; }
body header .container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  right: 0;
  margin-top: 10px; }
body header .container nav ul li {
  margin: 0 20px 0 20px; }
body header .container nav ul li a {
  text-decoration: none;
  color: #fff;
  text-shadow: #1f1f1f; }
body header .container nav ul li a:hover {
  color: #EE9000; }
@media screen and (max-width: 680px) {
  body header * {
    color: #000 !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    /*
    background: none !important;
    background-image:none !important;*/
    list-style-type: none !important; } }
body main {
  /* article-end */ }
body main > h2 {
  margin-bottom: 20px; }
body main .top_image {
  background-color: #000; }
body main .top_image img {
  width: 100%;
  height: 500px;
  object-fit: cover; }
body main article {
  /* main-end */
  /* topics-end */
  /* ens-end */
  /* access-end */ }
body main article #menu {
  padding-top: 50px;
  padding-bottom: 50px; }
body main article #menu .container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
body main article #menu .container h2 span {
  font-size: 1.3rem;
  border-bottom: 1px solid #000; }
body main article #menu .container h3 {
  padding: 10px;
  margin-bottom: 30px; }
body main article #menu .container .flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
body main article #menu .container .flex_container figure.flex_item {
  width: 33.33%;
  margin-bottom: 30px; }
@media screen and (max-width: 680px) {
  body main article #menu .container .flex_container figure.flex_item {
    width: 90%; } }
body main article #menu .container .flex_container figure.flex_item img {
  height: 150px;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px; }
body main article #menu .container .flex_container figure.flex_item figcaption {
  line-height: 160%; }
body main article #menu .container .flex_container figure.flex_item figcaption .item_name {
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  padding: 3px 10px 3px 10px; }
body main article #menu .container .flex_container figure.flex_item figcaption .price {
  font-size: 1.2rem; }
body main article #topics {
  background-color: #f5f1e1;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  height: auto;
  line-height: 150%; }
body main article #topics .container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
body main article #topics .container h2 {
  padding: 10px; }
body main article #topics .container h2 span {
  font-size: 1.3rem;
  border-bottom: 1px solid #000; }
body main article #topics .container h3 {
  padding: 10px;
  margin-bottom: 30px; }
body main article #topics .container .info_text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
body main article #sns {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  /* container-end */ }
body main article #sns .container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
body main article #sns .container h2 {
  padding: 10px; }
body main article #sns .container h2 span {
  font-size: 1.3rem;
  border-bottom: 1px solid #000; }
body main article #sns .container h3 {
  margin-bottom: 30px; }
body main article #sns .container .instagram {
  content: "";
  width: 40%;
  height: 200px;
  background-color: #00FFF0;
  float: left;
  margin-left: 5%;
  margin-right: 5%; }
@media screen and (max-width: 680px) {
  body main article #sns .container .instagram {
    width: 90%;
    margin-bottom: 20px; } }
body main article #sns .container .facebook {
  content: "";
  width: 40%;
  height: 200px;
  background-color: #0FFF00;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px; }
@media screen and (max-width: 680px) {
  body main article #sns .container .facebook {
    width: 90%;
    margin-bottom: 20px; } }
body main article #sns .container .facebook::after {
  content: "";
  display: block;
  clear: both; }
body main article #sns .container .movie01 {
  content: "";
  width: 20%;
  height: 200px;
  background-color: #FF00FF;
  float: left;
  margin-left: 5%; }
@media screen and (max-width: 680px) {
  body main article #sns .container .movie01 {
    float: none;
    width: 90%;
    margin-bottom: 20px; } }
body main article #sns .container .movie02 {
  content: "";
  width: 20%;
  height: 200px;
  background-color: #00F0F0;
  float: left;
  margin-left: 5%; }
@media screen and (max-width: 680px) {
  body main article #sns .container .movie02 {
    float: none;
    width: 90%;
    margin-bottom: 20px; } }
body main article #sns .container .movie02::after {
  content: "";
  display: block;
  clear: both; }
body main article #access {
  background-color: #f5f1e1;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  text-align: center; }
body main article #access .container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /*
    iframeのサイズ変更
    padding-topに高さを指定する。
   */
  /* .map_text-end */ }
body main article #access .container h2 {
  padding: 10px; }
body main article #access .container h2 span {
  font-size: 1.3rem;
  border-bottom: 1px solid #000; }
body main article #access .container h3 {
  margin-top: 10px;
  margin-bottom: 30px; }
body main article #access .container .map {
  position: relative;
  width: 95%;
  height: 0;
  padding-top: 30%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }
body main article #access .container .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
body main article #access .container .map_text {
  width: 95%;
  height: auto;
  text-align: left;
  font-size: 0.8rem;
  line-height: 160%;
  margin-left: auto;
  margin-right: auto;
  /*スマホ画面ではfloat解除*/
  /* media-end */ }
body main article #access .container .map_text .left {
  width: 40%;
  float: left; }
body main article #access .container .map_text .right {
  width: 40%;
  float: right; }
@media screen and (max-width: 680px) {
  body main article #access .container .map_text .left {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    float: none; }
  body main article #access .container .map_text .right {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    float: none; } }
body main article #access .container .map_text::after {
  content: "";
  display: block;
  clear: both; }
body main article #access .container .calendar {
  position: relative;
  width: 40%;
  padding-top: 40%;
  float: left;
  margin-left: 2%; }
@media screen and (max-width: 680px) {
  body main article #access .container .calendar {
    width: 95%;
    padding-top: 95%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; } }
body main article #access .container .calendar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
@media screen and (max-width: 680px) {
  body main article #access .container .calendar iframe {
    width: 95vw;
    height: 95vw; } }
body main article #access .container .calendar_text {
  width: 40%;
  height: 40%;
  text-align: left;
  float: right;
  /* 四角アイコンを付ける */ }
@media screen and (max-width: 680px) {
  body main article #access .container .calendar_text {
    width: 85%;
    height: auto;
    float: none;
    margin-left: auto;
    margin-right: auto; } }
body main article #access .container .calendar_text .midashi01 {
  position: relative;
  padding-left: 3rem;
  line-height: 2.5rem; }
body main article #access .container .calendar_text .midashi01::before {
  background-color: #e5d5a2;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 0;
  top: 0.5; }
body main article #access .container .calendar_text .midashi02 {
  position: relative;
  padding-left: 3rem;
  line-height: 2.5rem; }
body main article #access .container .calendar_text .midashi02::before {
  background-color: #cecece;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 0;
  top: 0.5; }
body main article #access .container .calendar_text::after {
  content: "";
  display: block;
  clear: both; }
body footer {
  background-color: #000;
  color: #fff;
  height: auto;
  font-size: 0.8rem;
  line-height: 160%;
  padding: 20px; }
body footer .container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
body footer .container ul li {
  padding-right: 5px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #fff; }
body footer .container ul li a {
  color: #fff;
  text-decoration: none; }
body footer .container ul li:last-child {
  border-right: none; }

/*# sourceMappingURL=style.css.map */
